@import "mixin";
.sub-wrap {
  /*  @include center-width; */
  .sidebar {
    .snb {
      > ul {
        > li {
          display: none;
        }
      }
    }
  }
  .sub-content {
    position: relative;
    .bread-crumb {
      top: 7px;
      display: flex;
      position: absolute;
      right: 0;
      font-size: 0.9em;
      text-transform: uppercase;
      color: var(--sub-color);
      align-items: center;
      li {
        @include icon-font(after, "\f054");
        margin: 0 3px;
        &:last-child::after {
          display: none;
        }
      }
    } //bread
  } //content
}

/* ---------------------------------------- */
@media screen and (min-width: 1000px) {
  .sub-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;
    @include center-width;
    .sidebar {
      position: sticky;
      top: 135px;
      width: 25%;
      .snb {
        > ul {
          > li {
            > a {
              display: block;
              font-size: 1.8em;
              font-weight: bold;
              color: var(--sub-color);
              text-transform: uppercase;
              margin-bottom: 10px;
            }
            > ul {
              border-top: 2px solid #ccc;
              > li {
                > a {
                  display: block;
                  padding: 8px;
                  border-bottom: 1px solid #ccc;
                  font-weight: 600;
                  &.active {
                    background-color: var(--main-color);
                    color: #fff;
                    @include icon-font(before, "\f00c");
                  }
                }
              }
            }
          }
        }
      }
    }
    .sub-content {
      width: 72%;
      min-height: 400px;
    }
  }
} //lg

@media screen and (max-width: 1000px) {
  .sub-wrap {
    .sidebar {
      z-index: 1;
      position: sticky;
      top: 65px;
      height: 40px;
      .snb {
        height: inherit;
        background-color: #ddd;
        > ul {
          > li {
            > a {
              display: none;
            }
            > ul {
              height: 40px;
              display: flex;
              justify-content: center;

              > li {
                flex: 1;
                border-right: 1px solid #666;
                max-width: 150px;
                > a {
                  display: block;
                  height: 100%;
                  padding: 0 10px;
                  text-align: center;
                  line-height: 40px;
                  font-weight: 600;
                  white-space: nowrap;
                  background-color: var(--sub-color);
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #fff;
                  &.active {
                    background-color: var(--main-color);
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
    .sub-content {
      @include center-width;
      padding: 30px 0;
      .bread-crumb {
        display: none;
      }
    }
  }
} //sm
/* -------------------------------------------- */
.sub-title {
  padding-bottom: 17px;
  margin-bottom: 30px;
  border-bottom:1px solid var(--main-color) ;
  span {
    position: relative;
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    &::before {
      content: attr(data-title);
      position: absolute;
      height: 50%;
      overflow: hidden;
      color: var(--main-color);
    }
  }
}
